<div class="screen-block" (click)="hideStartingScreen()" [@slideInOut]="startScreenAnimation">
  <div class="screen-block__text">Добро пожаловать на свет...</div>
</div>


<div class="main-room" [@slideInOut]="mainRoomAnimation" *ngIf="currentScreen === 'mainRoom'">
  <div class="room-scroll">
    <drag-scroll>
      <img drag-scroll-item class="scroll-item" src="/assets/img/penPaper.png" (click)="changeRoom('secretRoom')"/>
      <img drag-scroll-item class="scroll-item" src="/assets/img/dogAndCat.png"/>
      <img drag-scroll-item class="scroll-item" src="/assets/img/cinema.png"/>
    </drag-scroll>
  </div>
</div>

<div class="secretRoom"  *ngIf="currentScreen === 'secretRoom'">
  <div class="secretRoom__letters">
    <div class="secretRoom__letters__article_right-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
    <div class="secretRoom__letters__article_left-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
    <div class="secretRoom__letters__article_right-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
    <div class="secretRoom__letters__article_left-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
    <div class="secretRoom__letters__article_left-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
    <div class="secretRoom__letters__article_right-side">
      {{'Some textSome text Some text Some textSome text Some text Some text Some text Some text Some text'}}
    </div>
  </div>
  <div class="secretRoom__message">
    <input type="text">
    <div class="message__submit">Отправить</div>
  </div>
</div>

<div class="cinemaRoom">

</div>
